  body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
  }

  .hidden {
    display: none;

}

  #login-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: white;
    text-align: center;
  }
  #login-form input {
    text-align: center;
    border-radius: 20px;
    border: 2px solid transparent;
    transition: border-color 0.3s ease-in-out;
    opacity: 0.3;
  }

  #login-form input::placeholder {
    color: black;
  }

  #greeting {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    color: white;
    text-align: center;
    text-decoration: underline wavy rgb(255, 245, 227);
  }

  #clock {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 26px;
    color: white;
    text-align: center;
    
  }

  #todo-form {
    position: absolute;
    top: 48%;
    left: 50%;
    width: auto;
    transform: translate(-50%, -50%);
    font-size: 28px;
    color: white;
    text-align: center;
    opacity: 0.6;
    
      
  }
  #todo-form input {
    text-align: center;
    border-radius: 20px;
    border: 1px solid transparent;
  }

  #quote {
    position: absolute;
    top: 90%;
    left: 50%;
    width: auto;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: rgb(255, 245, 227);
    text-align: center;
    text-decoration: underline;
    font-family: caveat, sans-serif;
  }

  #weather {
    position: absolute;
    top: 45.5%;
    left: 50%;
    width: auto;
    transform: translate(-50%, -50%);
    font-size: 13px;
    color: rgb(255, 245, 227);
    text-align: center;
    
  }

  #todo-list {
    position: relative;
    top: 52%;
    left: 25%;
    width: auto;
    transform: translateY(0);
    font-size: 13px;
    color: black;
    opacity: 0.8;
    background-color: rgba(0,0,0,0.2);
    border-radius: 10px;
    
  }
  
  #todo-list li {
    position: relative;
    list-style-type: none; 
    padding: 0;
    

  }

  #todo-list li::before {
    content: "-"; 
    margin-right: 10px; 
    margin-left: 10px;
    color: black; 
  }

  button {
    padding: 4px 6px;
    opacity: 0.8;
    color: black; 
    border: 1px solid transparent;
    border-radius: 12px; 
    font-size: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px;
  }

  