  body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    
  }
  

  .hidden {
    display: none;

}

  #login-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: white;
    text-align: center;
    font-family: "Lilita One", serif;
    font-weight: 400;
    font-style: normal;
  }
  #login-form input {
    text-align: center;
    border-radius: 20px;
    border: 2px solid transparent;
    transition: border-color 0.3s ease-in-out;
    opacity: 0.55;
    font-family: "Lilita One", serif;
    font-weight: 400;
    font-style: normal;
    
  }

  #login-form input::placeholder {
    color: black;
    font-family: sans-serif;
    
  }

  #greeting {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    color: white;
    text-align: center;
    text-decoration: underline wavy rgb(255, 245, 227);
    font-family: "Lilita One", serif;
    font-weight: 400;
    font-style: normal;
  }

  #clock {
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 26px;
    color: white;
    text-align: center;
    font-family: "Lilita One", serif;
    font-weight: 400;
    font-style: normal;
    
  }

  #todo-form {
    position: absolute;
    top: 33%;
    left: 50%;
    width: auto;
    transform: translate(-50%, -50%);
    font-size: 28px;
    color: white;
    text-align: center;
    opacity: 0.6;
    font-family: "Lilita One", serif;
    font-weight: 400;
    font-style: normal;
    
      
  }
  #todo-form input {
    text-align: center;
    border-radius: 20px;
    border: 1px solid transparent;
  }

  #quote {
    position: absolute;
    top: 97%;
    left: 50%;
    width: auto;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: rgb(255, 245, 227);
    text-align: center;
    text-decoration: underline;
    font-family: caveat, sans-serif;
  }

  #weather {
    position: absolute;
    top: 30%;
    left: 50%;
    width: auto;
    transform: translate(-50%, -50%);
    font-size: 13px;
    color: rgb(255, 245, 227);
    text-align: center;
    
  }

  #todo-list {
    position: relative;
    top: 35%;
    left: 25%;
    transform: translateY(0);
    font-size: 13px;
    color: white;
    opacity: 0.8;
    
  
  }
  
  #todo-list li {
    position: relative;
    list-style-type: none; 
    padding: 0.5px;
    background-color: rgba(0, 0, 0, 0.15);
    max-width: 50%;
    border-radius: 10px;
    margin-bottom: 5px;

  }

  #todo-list li::before {
    content: "-"; 
    margin-right: 10px; 
    margin-left: 10px;
    color: white;
  
  }

  button {
    position: absolute;
    left: 102%;
    padding: 4px 7px;
    opacity: 0.6;
    color: black; 
    border: 1px solid transparent;
    border-radius: 12px; 
    font-size: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
  }

  